In [1]:
import pandas as pd

## Merge best picture dataset and top movies dataset

In [2]:
# READ BEST PICTURE DATASET
best_picture_df = pd.read_csv("../data/best_pictures_sm.csv")

# CLEAN COLUMNS
best_picture_df = (
    best_picture_df
    .drop(columns="Unnamed: 0")
    .rename(columns={"Year of Film Release": "year", "Film": "title", "winner_status": "best_picture_winner"})
)

# CLEAN VALUES
best_picture_df['year'] = best_picture_df['year'].str.strip()
best_picture_df['title'] = best_picture_df['title'].str.strip().str.lower()

# FILTER YEAR TO >= 2015
best_picture_df = best_picture_df[best_picture_df['year']>="2015"]

best_picture_df.head(2)

     year          title  best_picture_winner
520  2015      spotlight                 True
521  2015  the big short                False

In [3]:
# READ TOP MOVIES DATASET
top_movies_df = pd.read_csv("../data/movies_2015_2024.csv")

# CLEAN COLUMNS
top_movies_df = (
    top_movies_df
    .drop(columns=['Unnamed: 0', 'Data', 'genre_ids', 'backdrop_path', 'poster_path', 'video'])
    .rename(columns={"Year": "year"})
)

# CLEAN VALUES
top_movies_df['year'] = top_movies_df['year'].astype(str).str.strip()
top_movies_df['title'] = top_movies_df['title'].str.strip().str.lower()
top_movies_df['genres'] = top_movies_df['genres'].apply(lambda x: x[1:-1].split(','))

top_movies_df.head(2)

,year,adult,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count,genres,budget,revenue
0,2015,False,99861,en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,11.8411,2015-04-22,avengers: age of ultron,7.271,23847,"['Action', 'Adventure', 'Science Fiction']",365000000,1405403694
1,2015,False,76341,en,Mad Max: Fury Road,An apocalyptic story set in the furthest reach...,10.6392,2015-05-13,mad max: fury road,7.627,23503,"['Action', 'Adventure', 'Science Fiction']",150000000,378858340

In [4]:
# MERGE DATAFRAMES
merged_df = pd.merge(left=top_movies_df,
                     right=best_picture_df,
                     left_on=["title", "year"],
                     right_on=["title", "year"],
                     how="left")

# FILL NAN VALUES
merged_df['best_picture_winner'] = merged_df['best_picture_winner'].fillna(value=False)

# SAVE DATAFRAME TO CSV
merged_df.to_csv("../data/full_movie_dataset.csv")

C:\Users\shann\AppData\Local\Temp\ipykernel_26232\1813581539.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df['best_picture_winner'] = merged_df['best_picture_winner'].fillna(value=False)